/* Reset dasar */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* Background */
body {
    min-height: 100vh;
    background: url(1.jpg);
    background-size: cover;
    background-position: center;
}

/* Layer gelap */
body::before {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(37, 35, 35, 0.55);
    z-index: -1;
}

/* HEADER + LOGO */
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: flex-start; /* Logo tetap kiri */
    align-items: center;
    z-index: 10;
}

header .logo img {
    width: 200px;
    height: auto;
}

/* NAV */
nav a {
    text-decoration: none;
    color: white;
    margin-left: 20px;
    padding: 8px 12px;
    border-radius: 10px;
    transition: 0.2s;
}

nav a:hover,
nav a.active {
    background: white;
    color: black;
}

/* Welcome Text */
.welcome {
    width: 70%;
    text-align: center;
    margin: 180px auto 0;
    position: relative;
    z-index: 10;
}

.welcome h1 {
    color: white;
    font-size: 2rem;
    font-weight: bold;
}

.welcome h2 {
    color: white;
    font-size: 1rem;
    opacity: 0.8;
}

/* Tombol Explore */
.explore {
    margin-top: 20px;
    padding: 12px 25px;
    background: white;
    color: black;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s;
}

.explore:hover {
    background: #2b1055;
    color: white;
}

/* Judul Award */
.award-title-box {
    text-align: center;
    margin-top: 120px;
}

.award-title-box h1 {
    color: white;
    font-size: 2rem;
    font-weight: bold;
}

/* Gambar Utama */
.award-hero {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.award-hero img {
    width: 85%;
    max-width: 600px;
    border-radius: 10px;
}
